*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~
*.deb
mamasync/out/*
Debug/*
*.o
*.d
ftdi/Debug/icestick.dat
lfsr/tgpp/siqs.dat
lfsr/tgpp/mersennes.txt
lfsr/tgpp/ggnfs.log
lfsr/tgpp/nfs.job
lfsr/tgpp/YAFU_get_poly_score.out
lfsr/tgpp/nfs.log
lfsr/tgpp/factor.log.yafu_bug_case2.txt
lfsr/tgpp/mersennes.log
lfsr/tgpp/blacklist.txt
lfsr/tgpp/.last_spq3
lfsr/tgpp/.last_spq5
lfsr/tgpp/.last_spq0
lfsr/tgpp/.last_spq2
lfsr/tgpp/.last_spq4
lfsr/tgpp/.last_spq1
lfsr/tgpp/session.log
lfsr/tgpp/factor.log
lfsr/tgpp/factor.log.very_long_13%.txt
lfsr/tgpp/.last_spq7
lfsr/tgpp/factor.log.yafu_bug.txt
lfsr/tgpp/.last_spq6